{{> header}}
{{> menu}}

<h1>🎬 Movies</h1>

{{#each movies}}
  <div>
    <h3>{{title}} ({{release_year}})</h3>
    <strong>Actors:</strong>
    <ul>
      {{#each actors}}
        <li>{{first_name}} {{last_name}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}

<h1>📂 Categories</h1>
<ul>
  {{#each categories}}
    <li>{{name}}</li>
  {{/each}}
</ul>

{{> footer}}